{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block home %}{% endblock %}
{% block content%}

<div class="container p-5">
    <div class="container col-6 ">
            <h2 class="text-center">Регистрация</h2>
            <form class="mt-5" method="post" >
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row mt-5">
                    <button class = "btn btn-warning mr-auto ml-auto" type="submit">Создать</button>
                </div>
            </form>
        </div>
        
    </div>
    

{% endblock content%}