{% extends 'base.html'%}
{% block title %}Авторизация{% endblock %}
{% load crispy_forms_tags %}
{% block home %}{% endblock %}
{% block content%}

<div class="container p-5">
    <div class="container col-6 ">
        <h2 class="text-center">Авторизация</h2>
        <form class="mt-5" method="post">
            {% csrf_token %}
            <form  method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row mt-5">
                    <button class = "btn btn-warning mr-auto ml-auto" type="submit">Войти в аккаунт</button>
                </div>
            </form>
        </form>
        <div class="text-center mt-4">
            <p>Нет аккаутна? <a class="text-warning" href="{% url 'signup' %}">Зарегистрироваться</a></p>
            <a class="text-dark" href="{% url 'password_reset' %}">Забыли пароль?</a>
        </div>
        
    </div>
</div>
    

{% endblock content%}