{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container p-5">
    <div class="container col-6 ">
        <h1>Проверьте вашу почту.</h1>
        <p>Мы отправили вам инструкции по установке пароля по электронной почте. Вы должны получить электронное письмо в ближайшее время.</p>
    </div>
</div>


{% endblock %}