{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container p-5">
    <div class="container col-6 ">
            <h2 class="text-center">Смена пароля</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row mt-4">
                    <input class = "btn btn-warning ml-auto mr-auto" type="submit" value="Сменить пароль">
                </div>
                
            </form>
    </div>
</div>

{% endblock %}