{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container p-5">
    <h2 class="text-center">Востановление пароля</h2>
    <div class="container col-6 mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row mt-4">
                <input class = "btn btn-warning ml-auto mr-auto" type="submit" value="Пришлите мне инструкции">
            </div>
        </form>
    </div>
</div>

{% endblock %}