{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container p-5">
    <h1 class="text-center">Смена пароля успешна</h1>
    <p class="text-center">Ваш новый пароль установлен. Вы можете войти сейчас на <a href="{% url 'login' %}">странице входа.</a></p>
</div>

{% endblock %}