{% extends 'base.html'%}
{% load static %}
{% block title %}Запись на СТО{% endblock %}
{% load crispy_forms_tags %}
{% block home %}{% endblock %}
{% block content%}

<div class="container p-5 ">
    <div class="container col-6 ">
        <h2 class="text-center">{% if user.is_superuser %}Создание записи{% else %}Запись на СТО{% endif %}</h2>
        <form class="mt-5" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modal ">
                <div class="modal-popup text-center">
                    <h3>Подтверждения</h3>
                    <p class="mt-3">В ближайшее время вам позвонят для уточнения удобного адреса СТО.</p>
                    <div class="d-flex justify-content-between mt-5">
                        <button class="btn btn-danger close-button" type="button">Отмена</button>
                        <form class="btn">
                            <button class = "btn btn-warning ok-button" type="submit">Принять</button>
                        </form>
                    </div>

                </div>
            </div>
        </form>
        <div class="row mt-5">
            <button class = "btn btn-warning mr-auto ml-auto submit">Записаться</button>
        </div>
    </div>  
</div>
<script src="{% static 'js/order.js' %}"></script>
{% endblock content%}