html{
    height: 100%;
}

.round {
    border-radius: 0.80rem
}

.advertising {
    display: flex;
    justify-content: flex-start;
    background: url(/static/img/247427_p1.jpg) right center / auto 100% no-repeat, rgb(23, 33, 38);
    border-radius: 16px;
    overflow: hidden;
    padding: 96px 0px 126px 96px;
    box-sizing: border-box;
}

.list {

    justify-content: flex-start;
    border-radius: 16px ;
    border: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    align-self: stretch;
    width: 100%;
    max-width: 1576px;
    padding: 0px 32px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.info {
    max-width: 664px;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 84px;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-item {
    display: flex;
}

.shadow {
    border: 1px solid rgba(190, 190, 190, 0.25);
    border-radius: 10px;
    box-shadow: 2px 2px 14px rgba(209, 209, 209, 0.25);
}

.card h2 {
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.card a {
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.card-img-background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 155px;
    box-sizing: border-box;
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px 12px;
    flex-grow: 1;
    height: 150px;
}



.item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.media-text {
	overflow: hidden;
    	word-break: break-all;
	padding: 10px;
	margin-top: 20px;
	position: relative;
	width: 100%;
}

.item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}


.modal.shown {
    display: block;
}

.modal-popup {
    position: fixed;
    width: 500px;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    padding: 55px 65px 50px 55px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.modal-content p {
    margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 31px;
    color: #112933;
}

.modal-content dfn {
    font-style: normal;
    font-weight: 500;
}

.modal-content cite {
    display: block;
    font-style: normal;
    margin-top: 40px;
    text-align: right;
}

.modal-content a {
    color: #257799;
    text-decoration: none;
}

.modal-content a:hover,
.modal-content a:focus {
    opacity: 0.7;
}

.modal-content a:active {
    opacity: 0.5;
}


.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

a {
    text-decoration: none!important;
}

.media-list {
    padding: 0!important;
}

.media-body .author {

    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
}

.media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}



.text {
    flex-wrap: wrap-reverse;
}

.footer{
    position: relative;

    background-color: #f2f6f7;
}

@media screen and (max-width: 1550px) {
    .text-large {
        font-size: 15px;
        
    }
    .text-small {
        -webkit-box-flex: 0;
        flex: 0 0 35.666667%;
        max-width: 35.666667%;
    }
    .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
    .nav-link {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
}
