<!DOCTYPE html>
{% load static %} 
<html>
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css'%}" >
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
        <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
        <title>{% block title %}Главная страница{% endblock %}</title>
    </head>
    <body>
        <nav class="sticky-top">
            <div class="navbar navbar-expand-md bg-light">
                <a class="navbar-brand text-dark p-3 font-weight-bold" href="{% url 'home'%}">CARSERVICE</a>
                {% block home %}{% endblock %}
                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="item" href="{% url 'password_change' %}">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                            <a class="item" href="{% url 'logout' %}">Выйти из аккаунта</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Учётная запись</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                            <a class="item" href="{% url 'login' %}">Войти</a>
                        <div class="dropdown-divider"></div>
                            <a class="item" href="{% url 'signup' %}">Зарегистрироваться</a>
                        </div>
                    </li>
                </ul> 
                {% endif %}
            </div>      
            {% block breadcrumb %}
            {% endblock %}
        </nav>
        
        <main>
            {% block content%}
            {%  endblock %}
        </main>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </body>
</html>
