{% extends 'base.html' %} 
{% load static %} 
{% block home %}
<form class="btn ml-2 ">
    <a class="btn btn-warning font-weight-bold" href="{% url 'service' %}">Услуги</a>
</form>
{% if user.is_superuser %}
{% else %}
<form class="btn ">
    <a class="btn btn-warning font-weight-bold" href="{% url 'order'%}">Записаться на СТО</a>
</form>
{% endif %}
{% endblock %}

{% block content %}
<div class="wrapper mt-5">
{% if request.user.is_superuser %}
<h1>Заявки</h1>
    <div class="list mt-3 shadow">
        <ul class="list-group p-3">
            {% for order in object_list %}
            <li class = "list-group-item list-group-item-action mt-2 shadow" id="item-{{order.pk}}">
                <div class="d-flex align-items-center justify-content-between">
                    <input id="item" class="checkbox__input ml-3 mr-5" value="{{ order.pk }}" type="checkbox">
                    <div>ФИО: {{order.name}}</div>
                    <div>Телефон: {{order.phonenumber}}</div>
                    <div>Дата: {{order.date}}</div>
                    <div class="mr-3">Время: {{order.time}}</div>
                    <div class="btn">
                        <a href="{% url 'order_change' order.pk %}" class="btn btn-warning font-weight-bold text-dark">Изменить</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <form class="btn ml-auto mr-5 mt-3">
        {% csrf_token %}
        <a class="btn btn-warning font-weight-bold" id="delete">Удалить выбранные</a>
    </form>
    <div class="modal ">
        <div class="modal-popup text-center">
            <p>Сначала выберите запись</p>
            <form class="btn">
                <button class="btn ok-button btn-warning">Ок</button>
            </form>
        </div>
    </div>
{% else %}
    <div class="advertising row align-items-center mt-5" >
        <div class="info">
            <h1 class="text-white display-4 font-weight-bold">Мы - компания талантливых инженеров-механиков</h1>
        </div>
        
    </div>
    <div class="ml-5 mt-5 align-items-center">
        <p class="text-warning text-uppercase">Добро пожаловать на наш сайт</p>
        <h1 class="font-weight-bold text-uppercase">О нашей компании</h1>
    </div>
    <div class="row ">
        <div class="col-5 mt-5 ml-5">
            <p class="text-large">Специализированный Автотехцентр: Мы предлагаем весь комплекс работ для наилучшего состояния Вашего автомобиля. Обслуживание у нас означает высшее качество выполненных работ по ремонту и уходу за автомобилем. Для качественного ремонта современных автомобилей необходимы оборудование и целенаправленные специалисты. Поэтому, наш техцентр оснащен всеми необходимыми инструментами, спец инструментами и аппаратурой, у нас работают только опытные специалисты. Именно поэтому мы выполняем только качественный ремонт. Мы не боимся трудностей и беремся за самые сложные и, на первый взгляд, невыполнимые работы. Для нас нет неразрешимых задач.</p>
        </div>
        <div class="col-6 mt-5 ml-5 text-small">
            <h5 class="font-weight-bold">Более 7 лет – опыт обслуживания и ремонта автомобилей.</h5>
            <p class="ml-3">Мы работаем на рынке ремонта и обслуживания автомобилей с 2010 года. За эти годы мы накопили солидный опыт в данной сфере.</p>
            <h5 class="font-weight-bold mt-4">Компьютерная диагностика с высочайшей точностью.</h5>
            <p class="ml-3">В своей работе мы применяем самые современные методы работы.</p>
            <h5 class="font-weight-bold mt-4">Высокая квалификация и профессионализм персонала.</h5>
            <p class="ml-3">В нашем автосервисе работают только профессионалы с опытом работы более трех лет.</p>
            <h5 class="font-weight-bold mt-4">Соблюдение сроков и стоимости работ.</h5>
            <p class="ml-3">Мы ценим Ваше время и деньги. Поэтому стоимость работ и сроки их выполнения мы ни когда не нарушаем.</p>
        </div>
    </div>
    
    <div class="mt-5 mb-5 text-center">
        <p class="text-warning text-uppercase">Галерея автосервиса</p>
        <h1 class="font-weight-bold text-uppercase">Посмотрите нашу галерею</h1>
        <div id="carouselExampleIndicators" class="carousel slide mt-5 w-50 ml-auto row mr-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/247429_p1.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/247431_p3.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/247434_p4.jpeg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/247433_p5.jpeg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}