{% extends 'base.html' %} 
{% block title %}Услуги{% endblock %}
{% load static %} 
{% block home %}
{% if request.user.is_superuser %}
<form class="btn ml-2 ">
    <a class="btn btn-warning font-weight-bold" href="{% url 'service-new' %}">Создать услугу</a>
</form>
<form class="btn ml-2 ">
    <a class="btn btn-warning font-weight-bold" href="{% url 'category-list' %}">Список категорий</a>
</form>
{% endif %}
{% endblock %}
{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'home'%}">Главная страница</a></li>
            <li class="breadcrumb-item active" aria-current="page">Услуги</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
<div class="container pb-5">
    <div class="ml-5 mt-5 align-items-center">
        <h4 class="font-weight-bold">Выберите нужный каталог</h4>
    </div>
    <ul class="cards mt-5 mb-5">
        {% for category in categorys %}
        <li class = "list-group-item list-group-item-action category shadow">
            {% if category.icon %}
            <div class="card-img-background">
                <img src="{{category.icon.url}}" width="142" height="132">
            </div>
            {% else %}
            <div class="card-img-background">
                <img src="{% static 'img/4054617.png' %}" width="142" height="132">
            </div>
            {%endif%}
            <div class="card-content  ">
                <h4> <a class="stretched-link text-dark text-decoration-none " value="{{category.id}}" href="#">{{category.title}}</a></h4>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div id="service">

    </div>
</div>
<script src="{% static 'js/service.js' %}"></script>
{% endblock %}