{% extends 'base.html'%}
{% block title %}Изменение услуги{% endblock %}
{% load crispy_forms_tags %}
{% block home %}{% endblock %}
{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'home'%}">Главная страница</a></li>
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'service'%}">Услуги</a></li>
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'service-detail' object.pk%}">Страница услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Изменение услуги</li>
        </ol>
    </nav>
{% endblock %}
{% block content%}
<div class="container p-5">
    <div class="container col-6 ">
        <h2 class="text-center">Изменение услуги</h2>
        <form class="mt-5" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row mt-5">
                <button class = "btn btn-warning mr-auto ml-auto" type="submit">Сохранить</button>
            </div>

        </form>
    </div>  
</div>

{% endblock content%}