{% extends 'base.html'%}
{% block title %}Страница услуги{% endblock %}
{% load static %} 
{% load crispy_forms_tags %}
{% block home %}{% endblock %}
{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'home'%}">Главная страница</a></li>
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'service'%}">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Страница услуги</li>
        </ol>
    </nav>
{% endblock %}
{% block content%}
<div class="container p-5">
    <h2>{{ object.title }}</h2>
    <div class="d-flex justify-content-between">
        <div class="row">
            <div class="container">
                <div class="mt-5">
                    <h6>Состав услуги:</h6>
                    <p>{{ object.compound|linebreaks}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column ml-2">
            <p class="display-4 price text-center">{{ object.price }}₽</p>
            <div class="row">
                {% if request.user.is_superuser %}
                <form class="btn btn-block">
                    <a class="btn btn-warning btn-block" href="{% url 'service-change' object.pk%}">Изменить запись</a>
                </form>
                <form class="btn btn-block" method="post" action="{% url 'deleteservice'%}">
                    {% csrf_token %}
                    <input type="hidden" value="{{object.pk}}" name="id">
                    <input type="submit" class="btn btn-warning btn-block" value="Удалить">
                </form>
                {% else %}
                <form class="btn btn-block">
                    <a class="btn btn-warning font-weight-bold btn-block" href="{% url 'order'%}">Записаться на СТО</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="comments mt-5">
        <h3 class="title-comments">Отзывы</h3>
        {% if user.is_authenticated%}
            {% if request.user.is_superuser %}
            {% else %}
            <form class="d-flex align-items-center"  method="post" action="{% url 'comment'%}">
                <div class="w-100">
                    <input type="hidden" name="author" value="{{ user.username }}">
                    <input type="hidden" name="service" value="{{ object.pk }}">
                    <textarea  type="text" class="form-control" id="comment-text" name="comment" rows="3"></textarea>
                </div>
                {% csrf_token %}
                <div class="btn ">
                    <input class="btn btn-warning ml-auto disabled" id="comment-sumbit" disabled id="submit" type="submit" value="Оставить комментарий">
                </div>
            </form>
            {% endif %}
        {% endif %}
        <ul class="media-list mt-4">
            {% for comment in service.comments.all %}
            <li class="media">
                <div class="media-body p-3">
                    <div class="media-heading ">
                        <div class="author ">{{ comment.author }}</div>
                        <div class="metadata">
                            <span class="date">{{ comment.date }}</span>
                        </div>
                        {% if request.user.is_superuser %}
                        <form class="author ml-2" method="post" action="{% url 'delete-comment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ comment.pk }}">
                            <input type="hidden" name="service" value="{{ object.pk }}">
                            <input class="btn btn-sm" type="submit" value="удалить">
                        </form>
                        {% endif %}
                    </div>
                    <p class="media-text mt-2">{{comment}}</p>
                </div>
            </li>
            <div class="divider"></div>
            {% endfor %}
        </ul>
    </div>
</div>
<script src="{% static 'js/service-detail.js' %}"></script>
{% endblock content%}