{% extends 'base.html' %} 
{% block title %}Список категорий{% endblock %}
{% load static %} 
{% block home %}
<form class="btn ml-2 ">
    <a class="btn btn-warning font-weight-bold" href="{% url 'category-new' %}">Создать категорию</a>
</form>{% endblock %}
{% block breadcrumb %}
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'home'%}">Главная страница</a></li>
            <li class="breadcrumb-item"><a class="text-warning" href="{% url 'service'%}">Услуги</a></li>
            <li class="breadcrumb-item active" aria-current="page">Список категорий</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
<div class="container pb-5">
    <div class="ml-5 mt-5">
        <h4 class="font-weight-bold">Список категорий</h4>
    </div>
    <div class="list mt-5 shadow">
        <ul class="list-group p-3 ">
            {% for category in object_list %}
            <li class = "list-group-item list-group-item-action mt-2 shadow" id="item-{{category.pk}}">
                <div class="d-flex align-items-center justify-content-between">
                    {% if category.icon %}
                    <div class="card-img-background">
                        <img src="{{category.icon.url}}" width="142" height="132">
                    </div>
                    {% else %}
                    <div class="card-img-background">
                        <img src="{% static 'img/4054617.png' %}" width="142" height="132">
                    </div>
                    {%endif%}
                    <div class="text-dark">
                        <h3 >{{category.title}}</h3>
                    </div>
                    <div>
                        <form class="btn ml-2 btn-block">
                            <a class="btn btn-warning font-weight-bold btn-block" href="{% url 'category-change' category.pk %}">Изменить категорию</a>
                        </form>
                        <form class="btn ml-2 delete btn-block" method="post" action="{% url 'deletecategory'%}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{category.pk}}">
                            <input type="submit" class="btn btn-warning font-weight-bold text-dark btn-block" value="Удалить">
                        </form>
                    </div>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}